html {
  background-color: #D8BFD8;
}
p {
  font-size: 16px;
  font-family: "Bitter", Serif;
  color: #4B0082;
}
h1 {
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h1,
h2 {
  font-family: "Noto-Serif", Serif;
  color: #413D3D;
}
/* GRID STYLES */
main#gridwrap {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 50px 100px 200px 300px 200px 100px; */
}
#datacollectionimg img {
width: 100%;
}

/* INTRO STYLES */
#intro {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}
div ul {
  justify-content: space-between;
  list-style-type: none;
}
/* data collection styles */
#datacollection {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
#datacollectionimg {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}
#datacollectioninfo {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
/* data visualizations styles */
#datavisualization {
grid-column: 1.5 / 4;
grid-row: 3 / 4
}
#dataviz {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
#datavizimg {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}
/* explained video styles */
#explainedvid {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
}
#explainedvideoinfo {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#conclusion {
  grid-column: 1 / 6;
  grid-row: 5 / 6
}
