html {
  background-color: #D8BFD8;
}
p {
  font-size: 16px;
  font-family: ;
}
h1 {
  font-size: 40px;
}
h1,
h2 {
  font-family: ;
  color: #625B5B;
}
/* GRID STYLES */
main#gridwrap {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 50px 100px 200px 300px 200px 100px; */
}
#datacollectionimg img {
width: 100%;
}

/* INTRO STYLES */
#intro {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
div ul {
  justify-content: space-between;
  list-style-type: none;
}

/* #title {
  grid-column: 1 / 6;
  grid-row: 1;
}  */

#datacollectionimg {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}
#datacollectioninfo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#dataviz {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
#datavizimg {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}
#explainedvid {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
}
#explainedvideoinfo {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
